<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order form</ion-title>
    <ion-buttons slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="5" size-sm="12" offset-sm="0" offset-lg="1">
        <div class="wrapper">
          <ion-img
            class="image m-l"
            src="../../../assets/img/task-images/coupon-icon.png"
          ></ion-img>
          <div class="text-wrapper ">
            <h2 class="bold f-z">
              BUY 1 GET 1 50% OFF
              <p class="p f-z">Was $39.90</p>
              <span class="underline f-z">Now Only $29.92</span>
            </h2>
          </div>
        </div>
        <ion-img
          src="../../../assets/img/task-images/BSLipTreatmentWand.png"
        ></ion-img>
        <ion-text class="ion-text-center">
          <h2 class="bold f-z">Limited Time</h2>
          <p class="f-z">Also <span class="bold f-z">FREE</span> Shipping Today</p>
        </ion-text>
        <div class="ion-text-center bg-dark h-50 content-center mt-mb d-n">
          <ion-text>
            <p>Replenishes And Hydrates For Fuller Softer Lips</p>
          </ion-text>
        </div>
        <div class="bg-orange h-50 content-center mt-mb d-n">
          <ion-text>
            <p>Feels Like A Silky Gloss</p>
          </ion-text>
        </div>
        <div class="bg-dark h-50 content-center mt-mb d-n">
          <ion-text>
            <p>Plump Your Lips Naturally And Safely</p>
          </ion-text>
        </div>
        <div class="bg-orange h-50 content-center mt-mb d-n">
          <ion-text>
            <p>Feels Cool On Contact, Thanks To Peppermint Oil</p>
          </ion-text>
        </div>
      </ion-col>
      <ion-col size-lg="5" size-sm="12" offset-sm="0">
        <div class="wrapper d-n">
          <ion-img
            class="image"
            src="../../../assets/img/task-images/usps.jpg"
          ></ion-img>
          <div class="text-wrapper">
            <h2 class="bold">
              YOUR 2x24/7 LIP TREATMENT Will Be
              <span class="underline">Delivered</span>
              Within 7 Business Days
            </h2>
          </div>
        </div>
        <div class="bg-orange content-center h-70">
          <ion-text>
            <h2 class="bold">
              <span class="p">Tell Us Where To Send </span>YOUR 2 X 24/7 LIP
              TREATMENT NORMALLY $39.90ea
            </h2>
          </ion-text>
        </div>
        <div class="form-wrapper">
          <!-- <div class="content-wrapper">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="items">
                    <div class="item">
                      <h2>1</h2>
                    </div>
                    <div class="item">
                      <h2>SHIPPING</h2>
                      <p>Where Should We Ship Your Product?</p>
                    </div>
                  </div>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <div class="content">
                      <h2>2</h2>
                    </div>
                    <div class="content2">
                      <h2>QUANTITY</h2>
                      <p>How Many Would You Like?</p>
                    </div>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div> -->
          <form>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">First Name</ion-label>
                    <ion-input type="text" autocomplete autocorrect></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Last Name</ion-label>
                    <ion-input type="text" autocomplete autocorrect></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Email Address</ion-label>
                    <ion-input type="text" autocomplete autocorrect></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating"
                      >Mobile Phone Number</ion-label
                    >
                    <ion-input type="text" autocomplete autocorrect></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Address Line 1</ion-label>
                    <ion-input type="text" autocomplete autocorrect></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">City</ion-label>
                    <ion-input type="text" autocomplete autocorrect></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">United States</ion-label>
                    <ion-input type="text" autocomplete autocorrect></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">State/Province</ion-label>
                    <ion-input type="text" autocomplete autocorrect></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Zip/Postal Code</ion-label>
                    <ion-input type="text" autocomplete autocorrect></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button class="btn" type="submit" color="dark" expand="block">
                    > Add Payment Information
                  </ion-button>
                </ion-col>
              </ion-row>
              <div class="content-center">
                <div>
                  <p class="c-grey">We Respect Your Privacy & Information</p>
                </div>
              </div>
            </ion-grid>
          </form>
        </div>
        <div class="bg-green content-center h-50">
          <ion-text>
            <p class="bold ion-no-margin">
              Shopping Is Safe & Secure - Guaranteed
            </p>
          </ion-text>
        </div>
        <div class="wrapper d-flex">
          <ion-img
            class="coupon-image"
            src="../../../assets/img/task-images/secure-order-lock-02.png"
          ></ion-img>
          <div class="text-wrapper ion-text-start">
            <p>
              Secure credit card payment
            </p>
            <p>This as a secure 256-bit SSL encrypted payment.</p>
          </div>
        </div>
        <div class="image-wrapper content-center">
          <ion-img
            class="coupon-image"
            src="../../../assets/img/task-images/cc.png"
          ></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="5" size-sm="12" offset-sm="0" offset-lg="1">
        <div class="bg-white h-50 content-center">
          <ion-text>
            <h2 class="bold underline">Common Q&A</h2>
          </ion-text>
        </div>
        <ion-list>
          <ion-item
            lines="none"
            class="ion-no-padding"
            *ngFor="let answer of loadedAnswers"
          >
            <ion-label>
              <div class="answer-wrapper">
                <ion-icon
                  ios="ios-help-circle"
                  md="md-help-circle"
                  size="large"
                ></ion-icon>
                <h2 class="bold">{{ answer.qestuion }}</h2>
              </div>
              <p>{{ answer.answer }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-lg="5" size-sm="12" offset-sm="0">
        <div class="bg-white h-50">
          <ion-text>
            <h2 class="bold underline">What Our Customers Say</h2>
          </ion-text>
        </div>
        <ion-list>
          <ion-item lines="none" *ngFor="let review of loadedReviews">
            <ion-label>
              <div class="review-wrapper">
                <h2 class="bold">{{ review.customer }}</h2>
                <ion-icon
                  class="bg-yellow"
                  ios="ios-star"
                  md="md-star"
                  size="large"
                ></ion-icon>
                <ion-icon
                  class="bg-yellow"
                  ios="ios-star"
                  md="md-star"
                  size="large"
                ></ion-icon>
                <ion-icon
                  class="bg-yellow"
                  ios="ios-star"
                  md="md-star"
                  size="large"
                ></ion-icon>
                <ion-icon
                  class="bg-yellow"
                  ios="ios-star"
                  md="md-star"
                  size="large"
                ></ion-icon>
                <ion-icon
                  class="bg-yellow"
                  ios="ios-star"
                  md="md-star"
                  size="large"
                ></ion-icon>
                <ion-text>
                  <p>{{ review.review }}</p>
                </ion-text>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col no-border class="bg-grey ion-no-margin" size-lg="5" size-sm="12" offset-sm="0" offset-lg="1">
        <ion-text class="content-center">
          <p class="normal">CATE MCNABB &copy 2019. All Rights Reserved</p>
        </ion-text>
      </ion-col>
      <ion-col no-border class="bg-grey ion-no-margin" size-lg="5" size-sm="12" offset-sm="0">
        <p class="normal ion-text-center">
          Contact | Privacy Policy | Terms & Conditions | Customer Service
          Phone:+1 (815) 900 7305 - Text: +1 (312) 626 9507
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
