ion-col {
  border: 1px solid red;
}

.coupon-image {
  width: 180px;
  height: 160px;
}

.bg-orange {
  background: #dcb3ad;
  color: white;
  text-align: center;
}

.bg-white {
  background: white;
  color: black;
  text-align: center;
}

.bg-dark {
  background: #000000;
  color: white;
  text-align: center;
}
