<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order form</ion-title>
    <ion-buttons slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="5" size-sm="12" offset-sm="0" offset-lg="1">
        <div class="wrapper">
          <ion-img
            class="image m-l"
            src="../../../assets/img/task-images/coupon-icon.png"
          ></ion-img>
          <div class="text-wrapper ">
            <h2 class="bold f-z-25">
              BUY 1 GET 1 50% OFF
              <p class="p f-z-25">Was $39.90</p>
              <span class="underline f-z-25">Now Only $29.92</span>
            </h2>
          </div>
        </div>
        <ion-img
          src="../../../assets/img/task-images/BSLipTreatmentWand.png"
        ></ion-img>
        <ion-text class="ion-text-center">
          <h2 class="bold f-z-40">Limited Time</h2>
          <p class="f-z-40">
            Also <span class="bold f-z-40">FREE</span> Shipping Today
          </p>
        </ion-text>
        <div class="ion-text-center bg-dark h-50 content-center mt-mb d-n">
          <ion-text>
            <p class="f-s-i">Replenishes And Hydrates For Fuller Softer Lips</p>
          </ion-text>
        </div>
        <div class="bg-orange h-50 content-center mt-mb d-n">
          <ion-text>
            <p class="f-s-i">Feels Like A Silky Gloss</p>
          </ion-text>
        </div>
        <div class="bg-dark h-50 content-center mt-mb d-n">
          <ion-text>
            <p class="f-s-i">Plump Your Lips Naturally And Safely</p>
          </ion-text>
        </div>
        <div class="bg-orange h-50 content-center mt-mb d-n">
          <ion-text>
            <p class="f-s-i">Feels Cool On Contact, Thanks To Peppermint Oil</p>
          </ion-text>
        </div>
      </ion-col>
      <ion-col size-lg="5" size-sm="12" offset-sm="0">
        <div class="wrapper d-n">
          <ion-img
            class="image"
            src="../../../assets/img/task-images/usps.jpg"
          ></ion-img>
          <div class="text-wrapper">
            <h2 class="bold f-z-25">
              YOUR 2x24/7 LIP TREATMENT Will Be
              <span class="underline f-z-25">Delivered</span>
              Within 7 Business Days
            </h2>
          </div>
        </div>
        <div class="bg-orange content-center h-120">
          <ion-text>
            <h2 class="bold f-z-25">
              <span class="p f-z-25">Tell Us Where To Send </span>YOUR 2 X 24/7
              LIP TREATMENT NORMALLY $39.90ea
            </h2>
          </ion-text>
        </div>
        <ion-col class="form-wrapper">
          <div class="content-wrapper">
            <div class="item">
              <div class="inline-block">
                <h2 class="inline-block f-z-32">1</h2>
              </div>
              <div class="inline-block text-item">
                <span class="d-block f-z-18 c-orange">SHIPPING</span>
                <span class="inline-block f-z-15"
                  >Where Should We Ship Your Product ?</span
                >
              </div>
            </div>
            <div class="item">
              <div class="inline-block">
                <h2 class="inline-block f-z-32">2</h2>
              </div>
              <div class="inline-block text-item">
                <span class="d-block f-z-18 c-gray">QUANTITY</span>
                <span class="inline-block f-z-15"
                  >How Many Would You Like ?</span
                >
              </div>
            </div>
          </div>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item
                    lines="none"
                    class="input-wrapper"
                    [class.invalid]="
                      !form.get('firstName').valid &&
                      form.get('firstName').touched
                    "
                    [class.valid]="
                      form.get('firstName').valid &&
                      form.get('firstName').touched
                    "
                  >
                    <ion-label position="floating">First Name</ion-label>
                    <ion-input
                      type="text"
                      autocomplete
                      autocorrect
                      formControlName="firstName"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item
                    lines="none"
                    class="input-wrapper"
                    [class.invalid]="
                      !form.get('lastName').valid &&
                      form.get('lastName').touched
                    "
                    [class.valid]="
                      form.get('lastName').valid && form.get('lastName').touched
                    "
                  >
                    <ion-label position="floating">Last Name</ion-label>
                    <ion-input
                      type="text"
                      autocomplete
                      autocorrect
                      formControlName="lastName"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="
                  !form.get('firstName').valid && form.get('firstName').touched
                "
              >
                <ion-col>
                  <p>* First Name must be between 2 and 20 characters.</p>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="
                  !form.get('lastName').valid && form.get('lastName').touched
                "
              >
                <ion-col>
                  <p>* Last Name must be between 2 and 20 characters.</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item
                    lines="none"
                    class="input-wrapper"
                    [class.invalid]="
                      !form.get('email').valid && form.get('email').touched
                    "
                    [class.valid]="
                      form.get('email').valid && form.get('email').touched
                    "
                  >
                    <ion-label position="floating">Email Address</ion-label>
                    <ion-input
                      type="text"
                      autocomplete
                      autocorrect
                      formControlName="email"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="!form.get('email').valid && form.get('email').touched"
              >
                <ion-col *ngIf="form.get('email').errors.required">
                  <p>* Email should not be empty</p>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="!form.get('email').valid && form.get('email').touched"
              >
                <ion-col *ngIf="form.get('email').errors.email">
                  <p>* Please enter a valid email</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item
                    lines="none"
                    class="input-wrapper"
                    [class.invalid]="
                      !form.get('phone').valid && form.get('phone').touched
                    "
                    [class.valid]="
                      form.get('phone').valid && form.get('phone').touched
                    "
                  >
                    <ion-label position="floating"
                      >Mobile Phone Number</ion-label
                    >
                    <ion-input
                      type="text"
                      autocomplete
                      autocorrect
                      formControlName="phone"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row
                *ngIf="form.get('phone').invalid && form.get('phone').touched"
              >
                <ion-col *ngIf="form.get('phone').errors.required">
                  <p>* Mobile Phone Number should not be empty</p>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="form.get('phone').invalid && form.get('phone').touched"
              >
                <ion-col *ngIf="form.get('phone').errors.minlength">
                  <p>
                    * Phone Must be at least
                    {{ form.get("phone").errors.minlength.requiredLength }}.
                  </p>
                  <p>
                    * Now the number of characters
                    {{ form.get("phone").errors.minlength.actualLength }}.
                  </p>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item
                    lines="none"
                    class="input-wrapper"
                    [class.invalid]="
                      !form.get('address').valid && form.get('address').touched
                    "
                    [class.valid]="
                      form.get('address').valid && form.get('address').touched
                    "
                  >
                    <ion-label position="floating">Address Line 1</ion-label>
                    <ion-input
                      type="text"
                      autocomplete
                      autocorrect
                      formControlName="address"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row
                *ngIf="
                  form.get('address').invalid && form.get('address').touched
                "
              >
                <ion-col *ngIf="form.get('address').errors.required">
                  <p>* Address should not be empty</p>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="
                  form.get('address').invalid && form.get('address').touched
                "
              >
                <ion-col *ngIf="form.get('address').errors.minlength">
                  <p>
                    * Address Must be at least
                    {{ form.get("address").errors.minlength.requiredLength }}.
                  </p>
                  <p>
                    * Now the number of characters
                    {{ form.get("address").errors.minlength.actualLength }}.
                  </p>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item
                    lines="none"
                    class="input-wrapper"
                    [class.invalid]="
                      !form.get('city').valid && form.get('city').touched
                    "
                    [class.valid]="
                      form.get('city').valid && form.get('city').touched
                    "
                  >
                    <ion-label position="floating">City</ion-label>
                    <ion-input
                      type="text"
                      autocomplete
                      autocorrect
                      formControlName="city"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row
                *ngIf="form.get('city').invalid && form.get('city').touched"
              >
                <ion-col *ngIf="form.get('city').errors.required">
                  <p>* City should not be empty</p>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="form.get('city').invalid && form.get('city').touched"
              >
                <ion-col *ngIf="form.get('city').errors.minlength">
                  <p>
                    * City Must be at least
                    {{ form.get("city").errors.minlength.requiredLength }}.
                  </p>
                  <p>
                    * Now the number of characters
                    {{ form.get("city").errors.minlength.actualLength }}.
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item
                    lines="none"
                    class="input-wrapper border-radius"
                    [class.invalid]="
                      !form.get('unitedStates').valid &&
                      form.get('unitedStates').touched
                    "
                    [class.valid]="
                      form.get('unitedStates').valid &&
                      form.get('unitedStates').touched
                    "
                  >
                    <ion-label position="floating">United States</ion-label>
                    <ion-input
                      type="text"
                      autocomplete
                      autocorrect
                      formControlName="unitedStates"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row
                *ngIf="
                  form.get('unitedStates').invalid &&
                  form.get('unitedStates').touched
                "
              >
                <ion-col *ngIf="form.get('unitedStates').errors.required">
                  <p>* United States should not be empty</p>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="
                  form.get('unitedStates').invalid &&
                  form.get('unitedStates').touched
                "
              >
                <ion-col *ngIf="form.get('unitedStates').errors.minlength">
                  <p>
                    * United States Must be at least
                    {{
                      form.get("unitedStates").errors.minlength.requiredLength
                    }}.
                  </p>
                  <p>
                    * Now the number of characters
                    {{
                      form.get("unitedStates").errors.minlength.actualLength
                    }}.
                  </p>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item
                    lines="none"
                    class="input-wrapper border-radius"
                    [class.invalid]="
                      !form.get('state').valid && form.get('state').touched
                    "
                    [class.valid]="
                      form.get('state').valid && form.get('state').touched
                    "
                  >
                    <ion-label position="floating">State/Province</ion-label>
                    <ion-input
                      type="text"
                      autocomplete
                      autocorrect
                      formControlName="state"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item
                    lines="none"
                    class="input-wrapper"
                    [class.invalid]="
                      !form.get('zip').valid && form.get('zip').touched
                    "
                    [class.valid]="
                      form.get('zip').valid && form.get('zip').touched
                    "
                  >
                    <ion-label position="floating">Zip/Postal Code</ion-label>
                    <ion-input
                      type="text"
                      autocomplete
                      autocorrect
                      formControlName="zip"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row
                *ngIf="form.get('state').invalid && form.get('state').touched"
              >
                <ion-col *ngIf="form.get('state').errors.required">
                  <p>* State should not be empty</p>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="form.get('state').invalid && form.get('state').touched"
              >
                <ion-col *ngIf="form.get('state').errors.minlength">
                  <p>
                    * State Must be at least
                    {{ form.get("state").errors.minlength.requiredLength }}.
                  </p>
                  <p>
                    * Now the number of characters
                    {{ form.get("state").errors.minlength.actualLength }}.
                  </p>
                </ion-col>
              </ion-row>

              <ion-row
                *ngIf="form.get('zip').invalid && form.get('zip').touched"
              >
                <ion-col *ngIf="form.get('zip').errors.required">
                  <p>* Zip should not be empty</p>
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="form.get('zip').invalid && form.get('zip').touched"
              >
                <ion-col *ngIf="form.get('zip').errors.minlength">
                  <p>
                    * Zip/Postal Code Must be at least
                    {{ form.get("zip").errors.minlength.requiredLength }}.
                  </p>
                  <p>
                    * Now the number of characters
                    {{ form.get("zip").errors.minlength.actualLength }}.
                  </p>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button
                    [disabled]="!form.valid"
                    class="btn"
                    type="submit"
                    color="dark"
                    expand="block"
                  >
                    <div>
                      <p class="sm" no-margin>
                        <ion-label
                          >&gt; &nbsp; &nbsp; Add Payment Information</ion-label
                        >
                      </p>
                      <p class="sm" no-margin>
                        <ion-label>USA Offer Only</ion-label>
                      </p>
                    </div>
                  </ion-button>
                </ion-col>
              </ion-row>
              <div class="content-center">
                <div>
                  <p class="c-grey">We Respect Your Privacy & Information</p>
                </div>
              </div>
            </ion-grid>
          </form>
        </ion-col>
        <div class="bg-green content-center h-50">
          <ion-text>
            <p class="bold ion-no-margin">
              Shopping Is Safe & Secure - Guaranteed
            </p>
          </ion-text>
        </div>
        <div class="wrapper d-flex">
          <ion-img
            class="coupon-image"
            src="../../../assets/img/task-images/secure-order-lock-02.png"
          ></ion-img>
          <div class="text-wrapper ion-text-start">
            <p>
              Secure credit card payment
            </p>
            <p>This as a secure 256-bit SSL encrypted payment.</p>
          </div>
        </div>
        <div class="image-wrapper content-center">
          <ion-img
            class="coupon-image"
            src="../../../assets/img/task-images/cc.png"
          ></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="5" size-sm="12" offset-sm="0" offset-lg="1">
        <div class="bg-white h-50 content-center">
          <ion-text>
            <h2 no-margin class="bold underline f-z-32">Common Q&A</h2>
          </ion-text>
        </div>
        <ion-list>
          <ion-item
            lines="none"
            class="ion-no-padding"
            *ngFor="let answer of loadedAnswers"
          >
            <ion-label>
              <div class="answer-wrapper m-g-10">
                <ion-icon
                  ios="ios-help-circle"
                  md="md-help-circle"
                  size="large"
                ></ion-icon>
                <h2 class="bold f-z-25 m-l-10">{{ answer.qestuion }}</h2>
              </div>
              <p class="f-z-20 c-black">{{ answer.answer }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-lg="5" size-sm="12" offset-sm="0">
        <div class="bg-white h-50 content-center">
          <ion-text>
            <h2 no-margin class="bold underline f-z-32">
              What Our Customers Say
            </h2>
          </ion-text>
        </div>
        <ion-list>
          <ion-item
            no-padding
            lines="none"
            *ngFor="let review of loadedReviews"
          >
            <ion-label>
              <div class="review-wrapper" no-padding>
                <h2 class="bold f-z-25">{{ review.customer }}</h2>
                <ion-icon
                  class="bg-yellow"
                  ios="ios-star"
                  md="md-star"
                  size="large"
                ></ion-icon>
                <ion-icon
                  class="bg-yellow"
                  ios="ios-star"
                  md="md-star"
                  size="large"
                ></ion-icon>
                <ion-icon
                  class="bg-yellow"
                  ios="ios-star"
                  md="md-star"
                  size="large"
                ></ion-icon>
                <ion-icon
                  class="bg-yellow"
                  ios="ios-star"
                  md="md-star"
                  size="large"
                ></ion-icon>
                <ion-icon
                  class="bg-yellow"
                  ios="ios-star"
                  md="md-star"
                  size="large"
                ></ion-icon>
                <ion-text>
                  <p class="f-z-20 c-black">{{ review.review }}</p>
                </ion-text>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <div class="footer-wrapper">
      <ion-row>
        <ion-col
          no-border
          class="bg-grey ion-no-margin"
          size-lg="5"
          size-sm="12"
          offset-sm="0"
          offset-lg="1"
        >
          <ion-text class="content-center">
            <p class="normal f-z-20">
              CATE MCNABB &copy 2019. All Rights Reserved
            </p>
          </ion-text>
        </ion-col>
        <ion-col
          no-border
          class="bg-grey ion-no-margin"
          size-lg="5"
          size-sm="12"
          offset-sm="0"
        >
          <p class="normal ion-text-center f-z-20">
            Contact | Privacy Policy | Terms & Conditions | Customer Service
            Phone:+1 (815) 900 7305 - Text: +1 (312) 626 9507
          </p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
