// Reusable
.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

.normal {
  font-weight: normal;
  font-size: 15px;
}

.underline {
  text-decoration: underline;
}

.d-block {
  display: block;
}

.mt-mb {
  margin: 15px 0;
}

.m-l-10 {
  margin-left: 10px;
}

.f-z-25 {
  font-size: 25px;
}

.f-z-20 {
  font-size: 20px;
}

.f-z-32 {
  font-size: 32px;
}

.f-z-15 {
  font-size: 15px;
}

.f-z-18 {
  font-size: 18px;
}

.f-z-40 {
  font-size: 40px;
}

.f-s-i {
  font-style: italic;
}

.p {
  font-weight: normal;
}

// Background colors
.bg-orange {
  background: #dcb3ad;
  color: white;
  text-align: center;
}

.bg-white {
  background: white;
  color: black;
  text-align: center;
}

.bg-yellow {
  color: #ffd203;
}

.bg-dark {
  background: #000000;
  color: white;
  text-align: center;
}

.bg-grey {
  background: #303030;
  color: white;
}

.bg-green {
  background: #6ac8b3;
  color: black;
}

// colors
.c-black {
  color: #000000;
}

.c-grey {
  color: #9d9d9d;
}

// height classes
.h-120 {
  height: 120px;
}

.h-50 {
  height: 50px;
}

ion-card {
  margin: 0px;
  padding: 0px;
  border: none;
  box-shadow: none;
}

.wrapper {
  height: 190px;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;

  .image {
    width: 180px;
    height: 162px;
  }

  .text-wrapper {
    text-align: center;
    margin: auto;

    h3,
    p {
      font-size: 25px;
      margin: 0;
      padding: 0;
    }
  }
}

.inline-block {
  display: inline-block;
}

.answer-wrapper {
  display: flex;
  align-items: flex-end;
  white-space: initial;
}

.review-wrapper {
  text-align: left;
  white-space: initial;
}

.form-wrapper {
  border: 2px solid grey;
}

.content-wrapper {
  border-bottom: 3px solid orangered;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .item {
    display: flex;
    flex: 1;

    .text-item {
      align-self: center;

      .c-orange {
        color: #ff7400;
      }

      .c-gray {
        color: #616c83;
      }

    }

    h2 {
      font-size: 34px;
      margin: 0 15px;
    }
  }
}

.d-flex {
  .coupon-image {
    margin-left: 20px;
  }

  .text-wrapper {
    p {
      font-size: 20px;
    }
  }
}

.input-wrapper {
  border: 2px solid #cccccc;
  background: #f1f1f1;
  color: black;
}

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}


.border-radius {
  border-radius: 10px;
}

.new-line {
  white-space: initial;
  word-wrap: break-word;
}


@media(max-width: 992px) {
  .image {
    display: none;
  }

  .m-g-10 {
    margin: 10px 0;
  }

  .d-n {
    display: none;
  }

  .btn {
    height: 130px;
    font-size: 24px;
  }

  .c-grey {
    font-size: 20px;
  }

  .bg-green {
    height: 160px;

    p {
      font-size: 32px;
    }
  }

  .bg-white {
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    height: 215px;

    .coupon-image {
      height: 115px;
      width: 80px;
    }

    p {
      text-align: center;
    }
  }

  .wrapper {
    height: 170px;

    .text-wrapper {
      h2 {
        font-size: 44px;

        p {
          font-size: 44px;
        }
      }
    }
  }

  .bg-orange {
    height: 265px;

    h2 {
      font-size: 32px;
    }
  }

  .footer-wrapper {
    height: 240px;
    background: #303030;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-wrapper {
    height: 200px;
  }
}

@media(max-width: 500px) {
  .sm {
    font-size: 15px;
  }
}
